{{> /layout/header}}

<div class="m_mt_md">
    <!-- 상세보기 메뉴 시작-->
    {{>/layout/userDetailMenu}}
    <!-- 상세보기 메뉴 끝-->

    <!-- 회원정보 아우터  시작 -->
    <div class="w-75 mx-auto m_outer_info_detail">
        <!-- 이미지 박스 시작-->
        <div class="col-lg-6 m_mt_lg">
            <div class="m_box_profile">
                <img class="m_img_profile" src="/html/images/cat.jpg" alt="프로필 이미지">
            </div>
        </div>
        <!-- 이미지 박스 끝-->
        <!-- 정보 박스 시작-->
        <div class="col-lg-6 m_box_info_detail">
            <div class="m_inner_info_detail">
                <!-- 유저 정보 박스 시작-->
                <div>
                    <회원 정보>
                </div>
                <div>
                    <div class="m_box_text_info">아이디 </div>
                    <div>댕댕이조아</div>
                </div>
                <div>
                    <div class="m_box_text_info">이름 </div>
                    <div>김댕댕</div>
                </div>
                <div>
                    <div class="m_box_text_info">전화번호</div>
                    <div>555-5000</div>
                </div>
            </div>
            <!-- 유저 정보 박스 끝-->
            <div class="m_inner_info_detail">
                <!-- 반려동물 정보 박스 시작-->
                <div>
                    <펫 정보>
                </div>
                <div>
                    <div class="m_box_text_info">이름 </div>
                    <div>댕댕이</div>
                </div>
                <div>
                    <div class="m_box_text_info">성별 </div>
                    <div>남</div>
                </div>
                <div>
                    <div class="m_box_text_info"> 나이</div>
                    <div>2</div>
                </div>
                <div>
                    <div class="m_box_text_info"> 종</div>
                    <div>포메라니안</div>
                </div>
            </div>
            <!-- 반려동물 정보 박스 끝-->
            <div class="m_">
                <button class="btn m_btn">수정</button>
            </div>
        </div>
        <!-- 정보 박스 끝-->

    </div>
    <!-- 회원정보 아우터 끝 -->
</div>

{{> /layout/footer}}