{{>/layout/header}}


<div class="container m_mh_xxl d-flex" style="justify-content: space-between;">


    <div>
        <h2 class="m_txt_title text-center">공지사항 관리</h2>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="/images/cat.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">공지사항 관리 페이지 입니다.</h4>
                <p class="card-text">공지사항 글 작성, 수정, 삭제가 가능합니다.</p>
                <a href="/s/admin/notice-manage" class="btn btn-primary">이동</a>
            </div>
        </div>
        <br>
    </div>

    <div>
        <h2 class="m_txt_title text-center">댕냥이자랑 게시판 관리</h2>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="/images/cat.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">게시판 관리 페이지입니다.</h4>
                <p class="card-text">댕냥이자랑 게시판의 글 수정 및 삭제 페이지가 가능합니다.</p>
                <a href="/s/admin/jarang-manage" class="btn btn-primary">이동</a>
            </div>
        </div>
    </div>


    <div>
        <h2 class="m_txt_title text-center">댓글 관리</h2>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="/images/cat.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">댓글 관리 페이지입니다.</h4>
                <p class="card-text">사용자의 댓글 수정 및 삭제가 가능합니다. </p>
                <a href="/s/admin/comment-manage" class="btn btn-primary">이동</a>
            </div>
        </div>
    </div>
</div>




{{>/layout/footer}}