{{>/layout/header}}

<div class="container" style="height: 70vh;">

    <h1 class="text-center m_txt_title  m_ph_md m_mt_lg">댓글 관리</h1>

    <div class="m_box_right m_pb_lg">
        <button class="btn m_bg_secondary m_p_sm" onclick="deleteValue();">
            삭제
        </button>
    </div>

    <div class="m_mb_lg">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">

                <div class="collapse navbar-collapse justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div>작성댓글: 총 @@건</div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td><input type="checkbox" id="checkall" /></td>
                <th class="col-1">#</th>
                <th class="col-6">글 제목</th>
                <th class="col-2">작성자</th>
                <th class="col-2">작성일자</th>
                <th class="col-1">상세보기</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="chk" id="chk" /></td>
                <th>id</th>
                <td>Title</td>
                <td>username</td>
                <td>createdate</td>
                <td>
                    <a href="/#">더보기
                    </a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" name="chk" id="chk" /></td>
                <th>id</th>
                <td>Title</td>
                <td>username</td>
                <td>createdate</td>
                <td>
                    <a href="/#">더보기
                    </a>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="paging-div">
        <ul class="pagination" id="pagination">
            <li class="page-item"><a class="page-link" href="">이전</a></li>
            <li class="page-item"><a class="page-link" href="">1</a></li>
            <li class="page-item"><a class="page-link" href="">2</a></li>
            <li class="page-item"><a class="page-link" href="">3</a></li>
            <li><a class="page-link" href="">다음</a></li>
        </ul>
    </div>
</div>

<script>
    function deleteValue() {
        let url = "delete";
        let valueArr = new Array();
        let list = $("input[name='RowCheck']");
        for (let i = 0; i < list.length; i++) {
            if (list[i].checked) {
                valueArr.push(list[i].value);
            }
        }
        if (valueArr.length == 0) {
            alert("선택된 글이 없습니다");
        } else {
            let chk = confirm("정말 삭제하겠습니까?");
            $.ajax({
                url:  ,
                type: 'POST',
                traditional: true,
                data: {
                    valueArr: valueArr
                },
                success: function (jdata) {
                    if (jdata = 1) {
                        alert("삭제성공");
                        location.replace("list")
                    }
                    else {
                        alert("삭제실패");
                    }
                }
            });
        }
    }
</script>
<script src="/js/admin.js"></script>
{{>/layout/footer}}