{{>/layout/header}}

<div class="container">

    <h1 class="text-center m_txt_title  m_ph_md m_mt_lg">게시판 관리</h1>

    <form action="/s/admin/jarang-delete" method="post">
    {{#principal.userAuth}}
    <div class="m_box_right m_pb_lg">
        <button class="btn m_bg_secondary m_p_sm">
            삭제
        </button>
    </div>
    {{/principal.userAuth}}

        <table class="table table-hover">
            <thead>
                <tr> 
                    <td><input type="checkbox" id="checkall" /></td>
                    <th class="col-1">아이디</th>
                    <th class="col-6">제목</th>
                    <th class="col-2">작성자</th>
                    <th class="col-2">작성일자</th>
                </tr>
            </thead>

            {{#jarang.boards.content}}
            <tbody>
                <tr>
                    <td><input id="chk" type="checkbox" name="ids" value="{{id}}" /></td>
                    <th onclick="location.href='/boards/{{id}}'" style="cursor: pointer;" scope="row">{{id}}</th>
                    <td onclick="location.href='/boards/{{id}}'" style="cursor: pointer;" > {{title}} </td>
                    <td onclick="location.href='/boards/{{id}}'" style="cursor: pointer;"> {{user.userName}} </td>
                    <td onclick="location.href='/boards/{{id}}'" style="cursor: pointer;">{{formatCreateDate}}</td>
                </tr>

            </tbody>
            {{/jarang.boards.content}}
        </table>

    </form>

    {{#jarang}}
    <input id="first" type="hidden" value="{{boards.first}}" />
    <input id="last" type="hidden" value="{{boards.last}}" />
    <div class="paging-div">
        <ul class="pagination" id="pagination">
            <li id="prev" class="page-item"><a class="page-link" href="/s/admin/jarang-manage/?page={{prev}}">이전</a>
            </li>
            {{#pageNumbers}}
            <li class="page-item"><a class="page-link" href="/s/admin/jarang-manage/?page={{.}}">{{.}}</a></li>
            {{/pageNumbers}}
            <li id="next" class="page-item"><a class="page-link" href="/s/admin/jarang-manage/?page={{next}}">다음</a>
            </li>
        </ul>
    </div>
    {{/jarang}}

</div>

<script src="/js/admin.js"></script>

<script>
    let checkAuthBtn = () => {
        let first = $("#first").val();
        let last = $("#last").val();

        if (first == "true") {
            $("#prev").addClass("disabled");
            $("#next").removeClass("disabled");
        } else if (last == "true") {
            $("#prev").removeClass("disabled");
            $("#next").addClass("disabled");
        } else {
            $("#prev").removeClass("disabled");
            $("#next").removeClass("disabled");
        }
    };
    checkAuthBtn();
</script>
<script>
    let checkAuthBtn = () => {
        let first = $("#first").val();
        let last = $("#last").val();

        if (first == "true") {
            $("#prev").addClass("disabled");
            $("#next").removeClass("disabled");
        } else if (last == "true") {
            $("#prev").removeClass("disabled");
            $("#next").addClass("disabled");
        } else {
            $("#prev").removeClass("disabled");
            $("#next").removeClass("disabled");
        }
    };
    checkAuthBtn();

</script>

{{>/layout/footer}}