{{>/layout/header}}

<div class="container">

    <h1 class="text-center m_txt_title  m_ph_md m_mt_lg">공지사항</h1>

    
    <form action="/s/admin/notice-delete" method="post">
        {{#principal}}
        {{#userAuth}}
        <div class="m_box_right m_pb_lg">
            <button class="btn m_bg_secondary m_p_sm m_mr_md">
                <a href="/s/admin/write-form">글쓰기</a>
            </button>
            <button class="btn m_bg_secondary m_p_sm">
                삭제
            </button>
        </div>
        {{/userAuth}}
        {{/principal}}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><input type="checkbox" id="checkall" /></td>
                    <th class="col-1">아이디</th>
                    <th class="col-6">제목</th>
                    <th class="col-2">작성자</th>
                    <th class="col-2">작성일자</th>
                </tr>
            </thead>

            {{#notice}}
            <tbody>
                <tr>
                    <td><input id="chk" type="checkbox" name="ids" value="{{id}}" /></td>
                    <th onclick="location.href='/boards/{{id}}'" style="cursor: pointer;" scope="row">{{id}}</th>
                    <td onclick="location.href='/boards/{{id}}'" style="cursor: pointer;"> {{title}} </td>
                    <td onclick="location.href='/boards/{{id}}'" style="cursor: pointer;"> {{user.userName}} </td>
                    <td onclick="location.href='/boards/{{id}}'" style="cursor: pointer;">{{formatCreateDate}}</td>
                </tr>

            </tbody>
            {{/notice}}
        </table>

    </form>

    <div class="paging-div">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="">이전</a></li>
            <li><a class="page-link" href="">다음</a></li>
        </ul>
    </div>

</div>

<script src="/js/admin.js"></script>

{{>/layout/footer}}