<div class="d-flex m_pl_md m_bg_primary">
    <!-- 로고 박스 시작 -->
    <a class="navbar-brand" href="#">
        <img class="m_box_logo" alt="Brand" src="images/logo.png">
    </a>
    <!-- 로고 박스 끝 -->
    <!-- 텍스트 박스 시작 -->
    <div class="d-flex flex-column m_mt_md m_pl_md">
        <div>제작사: 냥도놀러가고싶댕</div>
        <div> 공동제작 : 구아현, 이선호, 정성현, 조해윤, 황주원</div>
        <div>Copyright 2022. greenBigdata. All Rights Reserved.</div>
    </div>
    <!-- 텍스트 박스 끝 -->
</div>

</html>