    <!-- 상세보기 메뉴 시작-->
    <div class="mx-auto w-50 m_pb_md ">
        <!-- 메뉴 박스 아우터 시작-->
        <div class="m_outer_menu_detail">
            <!-- 메뉴 박스 시작 -->
            <div class="m_box_menu_detail bg-warning">
                <a href="#" onclick="userDetailGo('detail')">회원정보</a>
            </div>
            <div class=" m_box_menu_detail m_bg_inactive">
                <a href="#" onclick="userDetailGo('likeList')">좋아요</a>
            </div>
            <div class="m_box_menu_detail m_bg_inactive">
                <a href="#" onclick="userDetailGo('commentlist')">내가 쓴 댓글</a>
            </div>
            <div class="m_box_menu_detail m_bg_inactive">
                <a href="#" onclick="userDetailGo('favlist')" >즐겨찾기</a>
            </div>
            <!-- 메뉴 박스  끝-->
        </div>
        <!-- 메뉴 박스 아우터 끝-->
    </div>
    <!-- 상세보기 메뉴 끝-->