{{> /layout/header}}


<div class="container">
    <div class="m_ph_md">

        <h1 class="text-center m_txt_title  m_ph_md">둘러보기</h1>
        <hr>

        <div>

            <div class="m_ph_md">


                <div class="m_pt_md">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">

                            <div class="collapse navbar-collapse justify-content-between">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">총 {{count}}건</a>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="form-group d-flex">
                                        <div class="dropdown">
                                            <button class="btn m_bg_secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            카테고리
                                        </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="javascript:linkListGo('숙박')">숙박지</a></li>
                                                <li><a class="dropdown-item" href="javascript:linkListGo('식음료')">식음료</a></li>
                                                <li><a class="dropdown-item" href="javascript:linkListGo('관광지')">관광지</a></li>
                                                <li><a class="dropdown-item" href="javascript:linkListGo('체험')">체험</a></li>
                                                <li><a class="dropdown-item" href="javascript:linkListGo('동물병원')">동물병원</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </nav>
                </div>


                <div class="m_mt_md">
                    <div class="d-flex justify-content-between m_pl_sm m_pr_sm align-items-center m_pt_md">
                        <div class="m_font_xl m_font_bold">숙박지({{countHotel}}건)</div>
                        <button class="btn m_bg_secondary">
                            <a href="javascript:linkListGo('숙박')">+ 더보기</a>
                        </button>
                    </div>
                    <div class="row m_pb_md">
                        {{#placesHotel}}
                        <div class="col-md-3">
                            <div class="m_box_info_place">
                            <div class="thumbnail">
                                <a href="/place/{{contentSeq}}">
                                <div class="caption">
                                    <div class=" m_font_lg m_font_bold m_ph_sm">{{title}}</div>
                                    <div class=""><i class="fa-solid fa-location-dot"></i> {{address}}</div>
                                </div>
                                </a>
                            </div>
                            </div>
                        </div>
                        {{/placesHotel}}
                    </div>
                    <hr/>
                    <div class="d-flex justify-content-between m_pl_sm m_pr_sm align-items-center m_pt_md">
                        <div class="m_font_xl m_font_bold">식음료({{countCafe}}건)</div>
                        <button class="btn m_bg_secondary">
                            <a href="javascript:linkListGo('식음료')">+ 더보기</a>
                        </button>
                    </div>
                    <div class="row m_pb_md">
                        {{#placesCafe}}
                        <div class="col-md-3">
                            <div class="m_box_info_place">
                            <div class="thumbnail">
                                <a href="/place/{{contentSeq}}">
                                <div class="caption">
                                    <div class=" m_font_lg m_font_bold m_ph_sm">{{title}}</div>
                                    <div class=""><i class="fa-solid fa-location-dot"></i> {{address}}</div>
                                </div>
                                </a>
                            </div>
                            </div>
                        </div>
                        {{/placesCafe}}

                    </div>
                    <hr/>
                    <div class="d-flex justify-content-between m_pl_sm m_pr_sm align-items-center m_pt_md">
                        <div class="m_font_xl m_font_bold">관광지({{countSpot}}건)</div>
                        <button class="btn m_bg_secondary">
                            <a href="javascript:linkListGo('관광지')">+ 더보기</a>
                        </button>
                    </div>
                    <div class="row m_pb_md">
                        {{#placesSpot}}
                        <div class="col-md-3">
                            <div class="m_box_info_place">
                            <div class="thumbnail">
                                <a href="/place/{{contentSeq}}">
                                <div class="caption">
                                    <div class=" m_font_lg m_font_bold m_ph_sm">{{title}}</div>
                                    <div class=""><i class="fa-solid fa-location-dot"></i> {{address}}</div>
                                </div>
                                </a>
                            </div>
                            </div>
                        </div>
                        {{/placesSpot}}
                    </div>
                    <hr/>
                    <div class="d-flex justify-content-between m_pl_sm m_pr_sm align-items-center m_pt_md">
                        <div class="m_font_xl m_font_bold">체험({{countAct}}건)</div>
                        <button class="btn m_bg_secondary">
                            <a href="javascript:linkListGo('체험')">+ 더보기</a>
                        </button>
                    </div>
                    <div class="row m_pb_md">
                        {{#placesActivity}}
                        <div class="col-md-3">
                            <div class="m_box_info_place">
                            <div class="thumbnail">
                                <a href="/place/{{contentSeq}}">
                                <div class="caption">
                                    <div class=" m_font_lg m_font_bold m_ph_sm">{{title}}</div>
                                    <div class=""><i class="fa-solid fa-location-dot"></i> {{address}}</div>
                                </div>
                                </a>
                            </div>
                            </div>
                        </div>
                        {{/placesActivity}}
                    </div>
                    <hr/>
                    <div class="d-flex justify-content-between m_pl_sm m_pr_sm align-items-center m_pt_md">
                        <div class="m_font_xl m_font_bold">동물병원({{countHos}}건)</div>
                        <button class="btn m_bg_secondary">
                            <a href="javascript:linkListGo('동물병원')">+ 더보기</a>
                        </button>
                    </div>
                    <div class="row m_pb_md">
                     {{#placesHospital}}
                        <div class="col-md-3">
                            <div class="m_box_info_place">
                            <div class="thumbnail">
                                <a href="/place/{{contentSeq}}">
                                <div class="caption">
                                    <div class=" m_font_lg m_font_bold m_ph_sm">{{title}}</div>
                                    <div class=""><i class="fa-solid fa-location-dot"></i> {{address}}</div>
                                </div>
                                </a>
                            </div>
                            </div>
                        </div>
                        {{/placesHospital}}
                    </div>
                </div>
            </div>
        </div>
    </div>
       <div class="paging-div">
 <ul class="pagination" id="pagination">
    <li class="page-item"><a class="page-link" href="">이전</a></li>
    <li class="page-item"><a class="page-link" href="">1</a></li>
    <li class="page-item"><a class="page-link" href="">2</a></li>
    <li class="page-item"><a class="page-link" href="">3</a></li>
    <li><a class="page-link" href="">다음</a></li>
</ul>
    </div>
</div>


{{> /layout/footer}}