{{>layout/header}}

<div class="container">

    <div class="m_ph_md">

        <!-- 메뉴 박스 아우터 시작-->
        <div class="m_outer_menu_detail" style="margin-bottom: 80px; margin-top: 30px;">
            <!-- 메뉴 박스 시작 -->
            <div class="m_box_menu_detail m_bg_primary">
                <a href="spotlist.mustache" class="m_txt_title">관광지</a>
            </div>
            <div class=" m_box_menu_detail m_bg_secondary">
                <a href="hotellist.mustache" class="m_txt_title">숙박</a>
            </div>
            <div class="m_box_menu_detail m_bg_secondary">
                <a href="cafelist.mustache" class="m_txt_title">식음료</a>
            </div>
            <div class="m_box_menu_detail m_bg_secondary">
                <a href="playlist.mustache" class="m_txt_title">체험</a>
            </div>
            <div class="m_box_menu_detail m_bg_secondary">
                <a href="hospitallist.mustache" class="m_txt_title">동물병원</a>
            </div>
            <!-- 메뉴 박스  끝-->
        </div>

    </div>

    <h2 class="text-center m_txt_title ">카테고리이름</h2>
    <hr>
    <div class="mx-auto m_mh_md">

        <div class="d-flex m_pt_lg " style="justify-content: space-evenly; align-items: center ">
            <div class="col-lg-6" style="height: 100%;">
                <div id="demo" class="carousel slide container" style="width: 100%;" data-bs-ride="carousel">

                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img style=" border-radius: 25px; object-fit:cover; width: 100%; height:400px"
                                src="images/petexperience.jpg" alt="#" class="m_box_img_slide">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img style=" border-radius: 25px; object-fit:cover; width: 100%; height:400px"
                                src="images/petcafe.jpg" alt="#" class="m_box_img_slide">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img style=" border-radius: 25px; object-fit:cover; width: 100%; height:400px"
                                src="images/pethotel.jpg" alt="#" class="m_box_img_slide">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img style=" border-radius: 25px; object-fit:cover; width: 100%; height:400px"
                                src="images/petclinic.jpg" alt="#" class="m_box_img_slide">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img style=" border-radius: 25px; object-fit:cover; width: 100%; height:400px"
                                src="images/petoutdoor.jpg" alt="#" class="m_box_img_slide">
                        </div>
                    </div>
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev " type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>

            <!-- 좋아요,즐찾버튼 시작 -->
            <div class="m_bg_primary col-lg-5 d-flex" style=" border-radius: 25px;  padding: 20px">
                <div style="position: relative;">
                    <div class="d-flex" style="position: absolute; left: 350px; top: -35px">
                        <div class="d-flex bg-light"
                            style="width: 40px; height:40px;  justify-content: center; align-items: center;  border-radius: 25px; box-shadow: 0px 0px 3px 0px rgb(110, 105, 105) inset">
                            <i class="large fas fa-heart"></i>
                        </div>
                        <div class="d-flex bg-light m_ml_sm"
                            style="width: 40px; height:40px;  justify-content: center; align-items: center;  border-radius: 25px; box-shadow: 0px 0px 3px 0px rgb(110, 105, 105) inset">
                            <i class="large fas fa-star"></i>
                        </div>
                        <div class="d-flex bg-light m_ml_sm"
                            style="width: 40px; height:40px;  justify-content: center; align-items: center;  border-radius: 25px; box-shadow: 0px 0px 3px 0px rgb(110, 105, 105) inset">
                            <i class="fa-solid fa-gear"></i>
                        </div>
                    </div>
                    <!-- 좋아요, 즐찾버튼 끝 -->

                    <div class="m_ph_sm m_txt_title m_font_xxl">카테고리 이름</div>
                    <div class="m_ph_sm d-flex">
                        <div class="m_txt_title m_font_xl">주소</div>
                        <div class="m_pl_sm">설명</div>
                    </div>
                    <div class="m_ph_sm d-flex">
                        <div class="m_txt_title m_font_xl">문의처</div>
                        <div class="m_pl_sm">전화번호</div>
                    </div>
                    <div class="m_ph_sm d-flex">
                        <div class="m_txt_title m_font_xl">이용시간</div>
                        <div class="m_pl_sm">설명</div>
                    </div>
                    <div class="m_ph_sm d-flex">
                        <div class="m_txt_title m_font_xl">홈페이지</div>
                        <div class="m_pl_sm">설명</div>
                    </div>
                    <div class="m_ph_sm d-flex">
                        <div class="m_txt_title m_font_xl">연관키워드</div>
                        <div class="m_pl_sm">#키워드 #키워드</div>
                    </div>


                    <div class="m_ph_sm d-flex">
                        <!-- 여러개인경우 슬라이드?-->
                        <div class="d-flex bg-light m_ml_sm"
                            style="flex-direction:column;  border-radius: 10px; width:80px; height:80px; justify-content: center; align-items: center; padding:10px">
                            <img src="images/shower.png" style="width: 50px; height: 50px;">
                            <div style="font-size: small;">목욕가능</div>
                        </div>
                        <div class="d-flex bg-light m_ml_sm"
                            style="flex-direction:column;  border-radius: 10px; width:80px; height:80px; justify-content: center; align-items: center; padding:10px">
                            <img src="images/parking.png" style="width: 50px; height: 50px;">
                            <div style="font-size: small;">주차</div>
                        </div>
                        <div class="d-flex bg-light m_ml_sm"
                            style="flex-direction:column;  border-radius: 10px; width:80px; height:80px; justify-content: center; align-items: center; padding:10px">
                            <img src="images/entrancefee.png" style="width: 50px; height: 50px;">
                            <div style="font-size: small;">유료</div>
                        </div>
                        <div class="d-flex bg-light m_ml_sm"
                            style="flex-direction:column;  border-radius: 10px; width:80px; height:80px; justify-content: center; align-items: center; padding:10px">
                            <img src="images/limitweight.png" style="width: 50px; height: 50px;">
                            <div style="font-size: small;">무게제한</div>
                        </div>
                        <div class="d-flex bg-light m_ml_sm"
                            style="flex-direction:column;  border-radius: 10px; width:80px; height:80px; justify-content: center; align-items: center; padding:10px">
                            <img src="images/emergency.png" style="width: 50px; height: 50px;">
                            <div style="font-size: small;">응급수칙</div>
                        </div>
                        <div class="d-flex bg-light m_ml_sm"
                            style="flex-direction:column;  border-radius: 10px; width:80px; height:80px; justify-content: center; align-items: center; padding:10px">
                            <img src="images/inventory.png" style="width: 50px; height: 50px;">
                            <div style="font-size: small;">비품제공</div>
                        </div>
                        <div class="d-flex bg-light m_ml_sm"
                            style="flex-direction:column;  border-radius: 10px; width:80px; height:80px; justify-content: center; align-items: center; padding:10px">
                            <img src="images/outdoor.png" style="width: 50px; height: 50px;">
                            <div style="font-size: small;">실외</div>
                        </div>
                        <div class="d-flex bg-light m_ml_sm"
                            style="flex-direction:column;  border-radius: 10px; width:80px; height:80px; justify-content: center; align-items: center; padding:10px">
                            <img src="images/petrestaurant.png" style="width: 50px; height: 50px;">
                            <div style="font-size: small;">펫 식당</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div>

            <div class="m_pt_lg">
                <!-- 여기서부터 같은 박스 7개-->
                <div class="d-flex">
                    <div>
                        <img src="images/pet.png" style="width: 25px; height: 25px;" alt="">
                    </div>
                    <div class="m_pl_md m_txt_title m_font_xl">소개</div>
                </div>
                <hr />
                <div>설명</div>
            </div>
            <div class="m_pt_lg">
                <!-- 여기서부터 같은 박스 7개-->
                <div class="d-flex">
                    <div> <img src="images/pet.png" style="width: 25px; height: 25px;" alt="">
                    </div>
                    <div class="m_pl_md m_txt_title m_font_xl">주요시설</div>
                </div>
                <hr />
                <div>설명</div>
            </div>
            <div class="m_pt_lg">
                <!-- 여기서부터 같은 박스 7개-->
                <div class="d-flex">
                    <div> <img src="images/pet.png" style="width: 25px; height: 25px;" alt="">
                    </div>
                    <div class="m_pl_md m_txt_title m_font_xl">지도</div>
                </div>
                <hr />
                <div id="map" style="width:100%;height:300px;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btn-search").click(() => {
        $("#panel").slideToggle("slow");
    });

    //지도 옵션
    var mapOptions = {
        center: new naver.maps.LatLng(35.159665, 129.060447),
        zoom: 18,
        // 맵 타입 컨트롤러 생성
        mapTypeControl: true,

        // 줌 컨트롤러 생성
        zoomControl: true,
        zoomControlOptions: {
            position: naver.maps.Position.RIGHT_CENTER
        }
    }

    // 지도 생성
    var map = new naver.maps.Map('map', mapOptions);

    // 마커 생성
    var markerOptions = {
        position: new naver.maps.LatLng(35.159665, 129.060447),
        map: map,
        icon: './img/pin_default.png'
    };
    var marker = new naver.maps.Marker(markerOptions);
</script>

{{>layout/footer}}