{{> /layout/header}}

<body>
    <div class="container">

        <div class="m_ph_md">

            <!-- 메뉴 박스 아우터 시작-->
            <div class="m_outer_menu_detail" style="margin-bottom: 80px; margin-top: 30px;">
                <!-- 메뉴 박스 시작 -->
                <div class="m_box_menu_detail m_bg_primary">
                    <a href="spotList.mustache" class="m_txt_title">관광지</a>
                </div>
                <div class=" m_box_menu_detail m_bg_secondary">
                    <a href="hotelList.mustache" class="m_txt_title">숙박</a>
                </div>
                <div class="m_box_menu_detail m_bg_secondary">
                    <a href="cafeList.mustache" class="m_txt_title">식음료</a>
                </div>
                <div class="m_box_menu_detail m_bg_secondary">
                    <a href="activityList.mustache" class="m_txt_title">체험</a>
                </div>
                <div class="m_box_menu_detail m_bg_secondary">
                    <a href="hospitalList.mustache" class="m_txt_title">동물병원</a>
                </div>
                <!-- 메뉴 박스  끝-->
            </div>
        </div>

        <br>
        <h1 class="text-center m_txt_title ">관광지</h1>
        <br>
        <hr><br>

        <div class="container" style="padding-top: 20px">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">총 @@건
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control" placeholder="Search">
                                <button type="submit" class="btn" style="width: 100px;">검색</button>
                            </div>
                        </form>


                    </div>
                </div>
            </nav>
        </div>

        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""> <i class="fa-solid fa-location-dot"></i> 주소</div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""><i class="fa-solid fa-location-dot"></i> 주소</div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""><i class="fa-solid fa-location-dot"></i> 주소</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""><i class="fa-solid fa-location-dot"></i> 주소</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""><i class="fa-solid fa-location-dot"></i> 주소</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""><i class="fa-solid fa-location-dot"></i> 주소</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""><i class="fa-solid fa-location-dot"></i> 주소</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""><i class="fa-solid fa-location-dot"></i> 주소</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""><i class="fa-solid fa-location-dot"></i> 주소</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""><i class="fa-solid fa-location-dot"></i> 주소</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""><i class="fa-solid fa-location-dot"></i> 주소</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="m_box_image" src="images/cat.jpg">
                        </a>
                        <div class="caption">
                            <div class="m_font_lg m_font_bold">이름</div>
                            <div class=""><i class="fa-solid fa-location-dot"></i> 주소</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

{{> /layout/footer}}