{{> /layout/header}}


<!-- 상세보기 메뉴 시작-->
<div class="container mx-auto m_mh_lg ">
    <!-- 메뉴 박스 아우터 시작-->
    <div class="m_outer_menu_detail">
        <!-- 메뉴 박스 시작 -->
        <div class="m_box_menu_detail m_bg_secondary">
            <a class="m_txt_title" href="/s/user/{{id}}/detail">회원정보</a>
        </div>
        <div class=" m_box_menu_detail m_bg_secondary">
            <a class="m_txt_title" href="/s/user/{{id}}/boardlike">좋아요</a>
        </div>
        <div class="m_box_menu_detail bg-warning">
            <a class="m_txt_title" href="/s/user/{{id}}/commentlist">내가 쓴 댓글</a>
        </div>
        <div class="m_box_menu_detail m_bg_secondary">
            <a class="m_txt_title" href="/s/user/{{id}}/favlist">즐겨찾기</a>
        </div>
        <!-- 메뉴 박스  끝-->
    </div>
    <!-- 메뉴 박스 아우터 끝-->
</div>
<!-- 상세보기 메뉴 끝-->

<h1 class="text-center m_txt_title  m_ph_md m_mt_lg">즐겨찾기</h1>

<div class="container m_pt_md">
    <hr>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <div class="collapse navbar-collapse justify-content-between">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">총 @@건</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group d-flex">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                카테고리
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">댕냥이자랑</a></li>
                                <li><a class="dropdown-item" href="#">숙박지</a></li>
                                <li><a class="dropdown-item" href="#">식음료</a></li>
                                <li><a class="dropdown-item" href="#">관광지</a></li>
                                <li><a class="dropdown-item" href="#">체험</a></li>
                                <li><a class="dropdown-item" href="#">동물병원</a></li>
                            </ul>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </nav>
</div>


<div class="container m_mt_md">
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img class="m_img_fit m_mt_md" src="images/cat.jpg">
                </a>
                <div class="caption">
                    <div class=" m_font_lg m_font_bold m_ph_sm">이름</div>
                    <div class=""><i class="fa-solid fa-location-dot"></i>주소</div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img class="m_img_fit m_mt_md" src="images/cat.jpg">
                </a>
                <div class="caption">
                    <div class=" m_font_lg m_font_bold m_ph_sm">이름</div>
                    <div class=""><i class="fa-solid fa-location-dot"></i>주소</div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img class="m_img_fit m_mt_md" src="images/cat.jpg">
                </a>
                <div class="caption">
                    <div class=" m_font_lg m_font_bold m_ph_sm">이름</div>
                    <div class=""><i class="fa-solid fa-location-dot"></i>주소</div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img class="m_img_fit m_mt_md" src="images/cat.jpg">
                </a>
                <div class="caption">
                    <div class=" m_font_lg m_font_bold m_ph_sm">이름</div>
                    <div class=""><i class="fa-solid fa-location-dot"></i>주소</div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img class="m_img_fit m_mt_md" src="images/cat.jpg">
                </a>
                <div class="caption">
                    <div class=" m_font_lg m_font_bold m_ph_sm">이름</div>
                    <div class=""><i class="fa-solid fa-location-dot"></i>주소</div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img class="m_img_fit m_mt_md" src="images/cat.jpg">
                </a>
                <div class="caption">
                    <div class=" m_font_lg m_font_bold m_ph_sm">이름</div>
                    <div class=""><i class="fa-solid fa-location-dot"></i>주소</div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img class="m_img_fit m_mt_md" src="images/cat.jpg">
                </a>
                <div class="caption">
                    <div class=" m_font_lg m_font_bold m_ph_sm">이름</div>
                    <div class=""><i class="fa-solid fa-location-dot"></i>주소</div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img class="m_img_fit m_mt_md" src="images/cat.jpg">
                </a>
                <div class="caption">
                    <div class=" m_font_lg m_font_bold m_ph_sm">이름</div>
                    <div class=""><i class="fa-solid fa-location-dot"></i>주소</div>

                </div>
            </div>
        </div>
    </div>
</div>

{{> /layout/footer}}