{{> /layout/header}}

<div class="mx-auto m_outer_notice_category m_box_outer m_box_auth" style="padding: 20px; ">

    <div class="m_box_notice_category ">
        <h1 class="m_txt_title">아이디 찾기</h1>
    </div>


    <div class="m_mh_md">
        이메일을 입력해주세요
    </div>


    <!-- 컨테이너 시작 -->
    <div>

        <!-- 아이디 찾기 폼 시작 -->
        <form action="/find/id" method="post">
            <div class="m_mb_md">

                <input id="email" type="email" class="form-control" placeholder="Enter email" required maxlength="60" />
            </div>
            <div class="d-flex" style="justify-content: end;">
                <button class="btn m_bg_secondary" type="submit">
                    다음</button>
            </div>
        </form>
        <!-- 아이디 찾기 폼 끝 -->
    </div>
</div>
{{> /layout/footer}}