<body>

    <div class="mx-auto m_outer_notice_category">

        <div class="m_box_notice_category ">
            <h1 class="m_txt_title">아이디 찾기</h1>
        </div>


        <div class="m_mt_md">
            이메일(or 전화번호)을 입력해주세요
        </div>


        <!-- 컨테이너 시작 -->
        <div class="m_mt_md">

            <!-- 아이디 찾기 폼 시작 -->
            <form>
                <div class="m_mb_md">
                    <input id="email" type="email" class="form-control" placeholder="Enter email" required
                        maxlength="30">
                </div>
                <button class="btn m_bg_secondary m_right" type="button">다음</button>
            </form>
            <!-- 아이디 찾기 폼 끝 -->
        </div>
    </div>
    <!-- 컨테이너 끝 -->

</body>