{{> /layout/header}}

<div class="container m_box_outer">

    <div class="m_pt_lg">
        <h1 class="text-center m_txt_title m_ph_lg">회원가입</h1>
    </div>

    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_error_box my_hidden">

            </div>
            <form action="/join" method="post" onsubmit="return validation()">
                <input id="userId" class="my_auth_form_box_input" type="text" name="userId" placeholder="Enter ID"
                    maxlength="12" required />
                <input id="username" class="my_auth_form_box_input" type="text" name="userName"
                    placeholder="Enter NickName" maxlength="12" required />
                <input id="password" class="my_auth_form_box_input" type="password" name="password"
                    placeholder="Enter PASSWORD" maxlength="12" required />
                <input id="same-password" class="my_auth_form_box_input" type="password" name=""
                    placeholder="Check PASSWORD" maxlength="12" required />
                <input id="email" class="my_auth_form_box_input" type="email" name="email" placeholder="Enter EMAIL"
                    maxlength="100" required />
                <div style="float: right; margin-top:20px">
                    <button type="submit" style="background-color: #E1E2E1;" class="btn">회원가입</button>
                    <button type="button" style="background-color: #E1E2E1;" class="btn">
                        <a href="/admin/join-form">관리자 회원가입</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/joinform.js"></script>

{{> /layout/footer}}