{{> /layout/header}}

<div class="container m_box_outer">

    <div class="m_pt_lg">
        <h1 class="text-center m_txt_title m_ph_lg">회원가입</h1>
    </div>

    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_error_box my_hidden">
            </div>
            <form action="/join" method="post">
                <input id="userId" class="my_auth_form_box_input" type="text" name="userId" placeholder="Enter ID" maxlength="20" required />
                <input id="userName" class="my_auth_form_box_input" type="text" name="userName" placeholder="Enter NickName" maxlength="40" required />
                <input id="password" class="my_auth_form_box_input" type="password" name="password" placeholder="Enter PASSWORD" maxlength="20" required />
                <input id="same-password" class="my_auth_form_box_input" type="password" placeholder="Check PASSWORD" maxlength="20" required />
                <input class="my_auth_form_box_input" type="email" name="email" placeholder="Enter EMAIL" maxlength="60" required />
                <button type="submit" style="background-color: #E1E2E1; float: right; margin-top: 20px;" class="btn">회원가입</button>
            </form>

        </div>
    </div>
</div>
<!-- <script src="/js/joinform.js"></script> -->

{{> /layout/footer}}