{{> /layout/header}}
<div class="m_box_auth mx-auto">

    <div class="m_pt_md text-center">
        <h1 class="m_txt_title m_ph_lg">로그인</h1>
    </div>

    <!-- 컨테이너 시작 -->
    <div class="mx-auto" style="width: 400px;">

        <!-- 로그인 폼 시작 -->
        <form action="/login" method="post">

            <div class="mb-3 mt-3">
                <input type="text" class=" my_auth_form_box_input form-control" name="userId" placeholder="Enter ID"
                    value="{{#remember}}{{remember}}{{/remember}}" required maxlength="20">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control my_auth_form_box_input" name="password"
                    placeholder="Enter PASSWORD" required maxlength="20">

            </div>
            <div class="form-check m_mb_md">
                <label class="form-check-label">
                    <input name="remember" class="form-check-input" type="checkbox"> Remember me
                </label>
            </div>
            <button style="background-color: #E1E2E1; float: right;" id="btn-login" type="submit"
                class="btn">로그인</button>
        </form>
        <!-- 로그인 폼 끝 -->
    </div>
</div>
<!-- 컨테이너 끝 -->

{{> /layout/footer}}