{{> //layout/header}}

<body class="m_center">

    <div class="container mt-3">
        <br>
        <h1 class="text-center m_txt_title">로그인</h1>
        <br>
    </div>
    <br>

    <!-- 컨테이너 시작 -->
    <div class="container mt-3" style="width: 400px;">

        <!-- 로그인 폼 시작 -->
        <form>
            <div class="mb-3 mt-3">
                <input id="username" type="text" class=" my_auth_form_box_input form-control" name="username"
                    placeholder="Enter ID" required maxlength="20">
            </div>
            <div class="mb-3">
                <input id="password" type="password" class="form-control my_auth_form_box_input" name="password"
                    placeholder="Enter PASSWORD" required maxlength="20">
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input id="remember" class="form-check-input" type="checkbox"> Remember me
                </label>
            </div>
            <button style="background-color: #E1E2E1; float: right;" id="btn-login" type="button"
                class="btn">로그인</button>
        </form>
        <!-- 로그인 폼 끝 -->
        <br><br><br>
        <a href="/testjuwon" onclick="window.open(this.href, '_blank', 'width=450, height=400'); return false;">
            아이디 찾기
        </a>
        <span> | </span>
        <a href="/testjuwon" onclick="window.open(this.href, '_blank', 'width=450, height=400'); return false;">
            비밀번호 찾기
        </a>
    </div>

    <!-- 컨테이너 끝 -->

    {{> /layout/footer}}