{{> /layout/header}}
<div class="m_box_auth mx-auto">

    <div class="m_pt_md text-center">
        <h1 class="m_txt_title m_ph_lg">로그인</h1>
    </div>

    <!-- 컨테이너 시작 -->
    <div class="mx-auto" style="width: 400px;">

        <!-- 로그인 폼 시작 -->
        <form action="/login" method="post">
            <div class="m_mh_md">
                <input id="userId" type="text" class=" my_auth_form_box_input form-control" name="userId" placeholder="Enter ID" required maxlength="20">
            </div>
            <div class="m_mb_md">
                <input id="password" type="password" class="form-control my_auth_form_box_input" name="password" placeholder="Enter PASSWORD" required maxlength="20">
            </div>
            <div class="form-check m_mb_md">
                <label class="form-check-label">
                    <input id="remember" class="form-check-input" type="checkbox"> Remember me
                </label>
            </div>
            <div class="d-flex" style="justify-content: space-between;">
                <div class="m_pt_md">
                    <a href="/find/id-form" onclick="window.open(this.href, '_blank', 'width=450, height=400'); return false;">
                        아이디 찾기
                    </a>
                    <span> | </span>
                    <a href="/user/password-reset-form" onclick="window.open(this.href, '_blank', 'width=450, height=400'); return false;">
                        비밀번호 찾기
                    </a>
                </div>
                <button id="btn-login" type="submit" class="btn m_bg_secondary">로그인</button>
            </div>
        </form>
        <!-- 로그인 폼 끝 -->
    </div>
</div>
<!-- 컨테이너 끝 -->

{{> /layout/footer}}