{{>/layout/header}}
<div class="mx-auto m_outer_notice_category m_box_auth" style="padding: 20px;">

    <div class="m_box_notice_category ">
        <h1 class="m_txt_title">아이디 찾기</h1>
    </div>


    <div class="m_mh_md text-center">
        아이디는 {{findUserId}} 입니다.
    </div>


    <!-- 컨테이너 시작 -->


    <!-- 아이디 찾기 폼 시작 -->

    <!-- 아이디 찾기 폼 끝 -->
</div>
</div>
<!-- 컨테이너 끝 -->

{{>/layout/footer}}