{{> /layout/header}}

<div class="container">
    <br>
    <h1 class="text-center m_txt_title m_ph_lg">회원정보 수정</h1>
    <input id="id" type="hidden" value="{{user.id}}">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_error_box my_hidden">
            </div>
            <form>

                <input id="user-id" class="my_auth_form_box_input" type="text" name="userId" placeholder="Enter ID"
                    value="{{user.userId}}" maxlength="20" readonly />
                <input id="username" class="my_auth_form_box_input" type="text" name="userName"
                    placeholder="Enter NickName" value="{{user.userName}}" maxlength="40" />
                <input id="password" class="my_auth_form_box_input" type="password" name="password"
                    placeholder="Enter PASSWORD" value="{{user.password}}" maxlength="20" required />
                <input id="same-password" class="my_auth_form_box_input" type="password" placeholder="Check PASSWORD"
                    maxlength="20" required />
                <input id="email" class="my_auth_form_box_input" type="email" name="email" placeholder="Enter EMAIL"
                    value="{{user.email}}" maxlength="60" required />
                <div class="m_box_right">
                    <button id="btn-update" type="button" style="background-color: #E1E2E1;  margin-top: 20px;"
                        class="btn ">수정</button>
                    <button type="button" style="background-color: #E1E2E1;  margin-top: 20px;" class="btn m_ml_md"
                        onclick="deleteUser('{{user.id}}')">탈퇴</button>
                </div>
            </form>

        </div>
    </div>

    <br>
    <h1 class="text-center m_txt_title">반려동물 정보 </h1>

    <div class="my_auth_box">
        <div class="my_auth_form_box">


            <div class="m_auth_inputbox_pet">
                <form action="/s/user/{{user.id}}/pet/update" method="post" enctype="multipart/form-data">

                    <div class="m_auth_imgbox_pet">
                        <!-- 커버이미지 들어오는 부분-->
                        <div class="selectCover" style="padding-left: 0;">
                            <img id="cover" style="width: 180px; height: 180px; border-radius: 90px;" />
                        </div>
                        <!-- 파일등록 -->
                        <div class="form-group" style="margin: 8px 0 8px; ">
                            <input id="fileName" class="form-control " value="파일 선택" disabled="disabled"
                                style="width:60%; display: inline;">
                            <div class="fileRegiBtn">
                                <label for="myFileUp">사진 업로드</label>
                                <input type="file" id="myFileUp" name="file">
                            </div>
                        </div>
                    </div>

                    <input class="my_auth_form_box_input" type="text" name="petName" placeholder="반려동물의 이름을 입력하세요"
                        value="" maxlength="20" required />
                    <input class="my_auth_form_box_input" type="text" name="petGender" placeholder="반려동물의 성별을 입력하세요"
                        value="" maxlength="20" required />
                    <input class="my_auth_form_box_input" type="text" name="petAge" placeholder="반려동물의 나이를 입력하세요"
                        value="" maxlength="12" required />
                    <input class="my_auth_form_box_input" type="text" name="petSpices" placeholder="반려동물의 종을 입력하세요"
                        value="" maxlength="100" required />
                    <button type="submit" style="background-color: #E1E2E1; float: right; margin-top: 20px;"
                        class="btn">수정</button>
                </form>
            </div>


        </div>

    </div>

</div>

<script src="/js/joinform.js"></script>
<script src="/js/updateform.js"></script>

{{> /layout/footer}}