{{> /layout/header}}

<div class="container">
    <br>
    <h1 class="text-center m_txt_title m_ph_lg">회원정보 수정</h1>
    <input id="id" type="hidden" value="{{user.id}}">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_error_box my_hidden">
            </div>
            <form>
                <input id="user-id" class="my_auth_form_box_input" type="text" name="userId" placeholder="Enter ID"
                    value="{{user.userId}}" maxlength="20" readonly />
                <input id="username" class="my_auth_form_box_input" type="text" name="userName"
                    placeholder="Enter NickName" value="{{user.userName}}" maxlength="40" />
                <input id="password" class="my_auth_form_box_input" type="password" name="password"
                    placeholder="Enter PASSWORD" value="{{user.password}}" maxlength="20" required />
                <input id="same-password" class="my_auth_form_box_input" type="password" placeholder="Check PASSWORD"
                    maxlength="20" required />
                <input id="email" class="my_auth_form_box_input" type="email" name="email" placeholder="Enter EMAIL"
                    value="{{user.email}}" maxlength="60" required />
                <div class="m_box_right">
                    <button id="btn-update" type="button" style="background-color: #E1E2E1;  margin-top: 20px;"
                        class="btn ">수정</button>
                    <button type="button" style="background-color: #E1E2E1;  margin-top: 20px;" class="btn m_ml_md"
                        onclick="deleteUser('{{user.id}}')">탈퇴</button>
                </div>
            </form>

        </div>
    </div>

    <br>
    <!-- 펫 정보가 있으면 모델에 담아온 pet 정보 뿌려주기 -->
    {{#pet}}
    <h1 class="text-center m_txt_title">반려동물 정보 </h1>
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <input id="pet-id" type="hidden" value="{{pet.id}}">
            <form>
                <input id="pet-name" class="my_auth_form_box_input" type="text" value="{{pet.petName}}" maxlength="20"
                    required />
                <input id="pet-gender" class="my_auth_form_box_input" type="text" value="{{pet.petGender}}"
                    maxlength="20" required />
                <input id="pet-age" class="my_auth_form_box_input" type="text" value="{{pet.petAge}}" maxlength="12"
                    required />
                <input id="pet-spices" class="my_auth_form_box_input" type="text" value="{{pet.petSpices}}"
                    maxlength="100" required />
                <button type="button" style="background-color: #E1E2E1; float: right; margin-top: 20px;" class="btn"
                    id="btn-pet-update">수정</button>
            </form>
            {{/pet}}
        </div>
    </div>
    <!-- 펫 정보가 없으면 반려동물 박스 안 보이게 하기 -->
    {{^pet}}
    {{/pet}}
</div>

<script src="/js/updateform.js"></script>

{{> /layout/footer}}