{{> /layout/header}}

<div>
    <br>
    <div class="text-center m_txt_title m_font_xxl m_ph_lg">댕냥이 자랑</div>
    <br>

    <main class="mb-4">
        <div class=" px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="container List-container">
                    <hr>
                    <div class="row mt-1 header">
                        <div class="col-1 board-title">제목</div>
                        <p class="col-8" style="word-break:break-all;"> 우리집 멍멍이를 소개합니다. </p>
                        <p class="col-1"> 작성일 </p>
                        <p class="col-1">작성자</p>
                        <p class="col-1">조회수</p>
                    </div>


                    <div class="board-container">
                        <br>
                        <p class="content" style="word-break:break-all;">
                            우리집 강아지 이름은 고양이입니다. 고양이처럼 귀엽기 때무니져. <br> 고양이 사진 <br> 강아지 사진<br> 고양이 사진 <br> 강아지 사진 <br>
                            내용내용내용content내용

                        </p>
                    </div>
                    <br>


                    <div class="m_feeling_div">
                        <div class="button-container like-container m_ml_md">
                            <button class="m_feeling_a">
                                <i class="far fa-heart"> I LOOOOOVE THIS PICTURE</i> <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <br>

                    <button style="background-color: #E1E2E1; float: right; margin: 10px;" onclick="history.back()"
                        class="btn">목록으로</button>
                    <!-- {{#auth}} -->
                    <button style="background-color: #E1E2E1; float: right; margin: 10px;" type="submit"
                        class="btn">삭제</button>
                    <button style="background-color: #E1E2E1; float: right; margin: 10px;" type="submit"
                        class="btn">수정</button>
                    <!-- {{/auth}} -->
                    <br><br><br>

                    <!-- 댓글 시작 -->


                    <div class="card mb-2">
                        <div class="card-header bg-light">
                            <i class="fa fa-comment fa"></i> COMMENT
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    <button style="float:right; " type="button" class="btn btn-dark mt-3"
                                        onClick="javascript:addReply();">post reply</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header"><i class="fa fa-comment fa"></i> COMMENT LIST</div>
                        <ul id="reply-box" class="list-group">
                            <!-- {{#comments}} -->
                            <li class="list-group-item d-flex justify-content-between">
                                <div>고양이 정말 이쁘네요 냥줍하고싶어요</div>
                                <div class="d-flex">
                                    <div class="font-italic"> <i class="far fa-user-circle"></i> 집사또원 &nbsp;</div>
                                    <!-- {{#auth}} -->
                                    <!-- <button class="badge bg-primary" onclick="deleteComment('{{comment.id}}');">삭제</button> -->
                                    <!-- {{/auth}} -->
                                </div>
                            </li>
                            <!-- {{/comments}} -->
                        </ul>
                    </div>
                    <br>
                    <!-- 댓글 끝 -->

                </div>
            </div>
            <nav>
                <div class="list-group" style="margin-top: 20px; margin-bottom: 20px;">
                    <a href="#" class="list-group-item">이전글: </a>
                    <a href="#" class="list-group-item">다음글: </a>
                </div>
        </div>
    </main>
</div>

<!-- <script>
  $('.like-container > .feeling_a, .dislike-container  > .feeling_a').on('click', function () {
    event.preventDefault();
    $('.active').removeClass('active');
    $(this).addClass('active');
  });
     async function deleteComment(commentId) {
        let response = await fetch(`/s/api/comment/${commentId}`, {
            method: "DELETE"
        });
        let responseParse = await response.json();
        if (responseParse.code == 1) {
            alert("삭제 성공");
            location.reload(); // ajax + ssr
        } else {
            alert("삭제 실패");
        }
    }
</script> -->

{{> /layout/footer}}