{{> /layout/header}}

<div class="container mt-3">
    <br>
    <h1 class="text-center m_txt_title">댕냥이자랑 하기</h1>
    <br>

    <!-- 글쓰기 아우터 시작 -->

    <div class="m_mt_md">

        <!-- 글쓰기 폼 시작 -->


        <form action="/s/boards" method="post" enctype="multipart/form-data">
            <div class="m_mb_md">
                <input id="title" type="text" class="form-control" placeholder="Enter title" name="title">
            </div>
            <div class="m_mb_md">
                <textarea id="summernote" class="form-control" name="content" rows="10"></textarea>
            </div>
            <div class="m_box_right">
                <div>썸네일 사진 등록 : <input id="img-input" type="file" name="thumnailFile"></div>
                <button id="btn-writeJarang" class="btn m_bg_secondary" type="submit">완료</button>
            </div>
        </form>
        <!-- 글쓰기 폼 끝 -->

    </div>
    <!-- 글쓰기 아우터  끝 -->
</div>

<!-- 글쓰기 아우터  끝 -->
</div>


<script src="/js/boards.js"></script>

{{> /layout/footer}}