{{> /layout/header}}


<div>
    {{#data}}
    <br>

    <div class="text-center m_txt_title m_font_xxl m_ph_lg">{{boards.classification}}</div>
    <br>

    <main class="mb-4">
        <div class=" px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="container List-container">
                    <hr>
                    <input id="boardsId" type="hidden" value="{{boards.id}}" />

                    <div class="row mt-1 header">
                        <div class="col-1 board-title">제목</div>
                        <p id="title" class="col-6" style="word-break:break-all; font-weight:bold;">{{boards.title}}</p>
                        <p id="createDate" class="col-2">날짜 :
                            <span style="font-weight: bold;">{{boards.formatCreateDate}}</span>
                        </p>
                        <p id="userName" class="col-2">작성자 :
                            <span style="font-weight: bold;">{{boards.user.userName}}</span>
                        </p>
                        <p id="pageCount" class="col-1">조회수 :
                            <span style="font-weight: bold;">{{boards.pageCount}}</span>
                        </p>
                    </div>

                    <div class="board-container">
                        <br>
                        <p id="content" class="content" style="word-break:break-all;">
                            {{{boards.content}}}
                        </p>
                    </div>

                    <br>
                    <div class="m_feeling_div">
                        <div class="button-container like-container m_ml_md">
                            {{#boardLikesId}}
                            <input id="boardLikesId" type="hidden" value="{{boardLikesId}}" />
                            <button id="btn-like" class="m_feeling_a">
                                <i id="icon-like" class="fas fa-heart"> I LOOOOOVE THIS PICTURE</i> <i id="icon-likee"
                                    class="fas fa-heart"></i>
                                {{/boardLikesId}}
                                {{^boardLikesId}}
                                <input id="boardLikesId" type="hidden" value="" />
                                <button id="btn-like" class="m_feeling_a">
                                    <i id="icon-like" class="far fa-heart"> I LOOOOOVE THIS PICTURE</i> <i
                                        id="icon-likee" class="far fa-heart"></i>
                                    {{/boardLikesId}}
                        </div>
                    </div>
                    <br>


                    <button style="background-color: #E1E2E1; float: right; margin: 10px;" onclick="history.back()"
                        class="btn">목록으로</button>
                    {{#principal}}
                    {{#userAuth}}
                    <button id="btn-delete" style="background-color: #E1E2E1; float: right; margin: 10px;" type="submit"
                        class="btn">관리자삭제</button>
                    {{/userAuth}}
                    {{/principal}}
                    {{#auth}}
                    <button id="btn-delete" style="background-color: #E1E2E1; float: right; margin: 10px;" type="submit"
                        class="btn">삭제</button>
                    <a href="/s/boards/{{boards.id}}/update-form" class="btn"
                        style="background-color: #E1E2E1; float: right; margin: 10px;">수정</a> {{/auth}}
                    <br><br><br>

                    <!-- 댓글 시작 -->

                    <div class="card mb-2">
                        <div class="card-header bg-light">
                            <i class="fa fa-comment fa"></i> COMMENT
                        </div>
                        <form action="/s/boards/{{boards.id}}/comment" method="post">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <textarea class="form-control" name="content" id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                        <button style="float:right; " type="submit"
                                            class="btn btn-dark mt-3">등록</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header"><i class="fa fa-comment fa"></i> COMMENT LIST</div>
                        <ul id="reply-box" class="list-group">
                            {{#comments}}
                            <li class="list-group-item d-flex justify-content-between">
                                <div>{{comment.content}}</div>
                                <div class="d-flex">
                                    <div class="font-italic"> <i class="far fa-user-circle"></i>
                                        {{comment.user.userName}} &nbsp;</div>

                                    {{#auth}}
                                    <button class="badge bg-primary"
                                        onclick="deleteComment('{{comment.id}}');">삭제</button> {{/auth}}
                                    {{#principal}}
                                    {{#userAuth}}
                                    <button class="badge bg-primary" onclick="deleteAll();">관리자삭제</button>
                                    {{/userAuth}}
                                    {{/principal}}
                                </div>
                            </li>
                            {{/comments}} {{/data}}
                        </ul>
                    </div>
                    <br>
                    <!-- 댓글 끝 -->

                    {{#pages}}
                    <input id="first" type="hidden" value="{{boards.first}}" />
                    <input id="last" type="hidden" value="{{boards.last}}" />

                    <div class="paging-div">
                        <ul class="pagination" id="pagination">
                            <li id="prev" class="page-item"><a class="page-link" href="/boards/{{prev}}">이전</a>
                            </li>
                            <li id="next" class="page-item"><a class="page-link" href="/boards/{{next}}">다음</a>
                            </li>
                        </ul>
                    </div>
                    {{/pages}}
                </div>
            </div>
        </div>
    </main>
</div>


<script>
    let principalId = $("#principalId").val();


    let checkAuthBtn = () => {
        let first = $("#first").val();
        let last = $("#last").val();

        if (first == "true") {
            $("#prev").addClass("disabled");
            $("#next").removeClass("disabled");
        } else if (last == "true") {

            $("#prev").removeClass("disabled");
            $("#next").addClass("disabled");
        } else {
            $("#prev").removeClass("disabled");
            $("#next").removeClass("disabled");
        }
    };
    checkAuthBtn();

    // 좋아요
    let likeRendering = () => {
        $("#icon-like").removeClass("far fa-heart");
        $("#icon-likee").removeClass("far fa-heart");
        $("#icon-like").addClass("fas fa-heart");
        $("#icon-likee").addClass("fas fa-heart");
    }
    // 좋아요 취소
    let unLikeRendering = () => {
        $("#icon-like").removeClass("fas fa-heart");
        $("#icon-likee").removeClass("fas fa-heart");
        $("#icon-like").addClass("far fa-heart");
        $("#icon-likee").addClass("far fa-heart");
    }

    $("#btn-like").click(() => {
        if(principalId == undefined){
            alert("로그인이 필요한 서비스입니다");
            location.href="/login-form";
            return;
        }
        if ($("#icon-like").hasClass("far fa-heart")) {
            like();
        } else {
            unlike();
        }
    });

    // 좋아요 요청
    let like = async () => {
        let boardsId = $("#boardsId").val();
        let response = await fetch(`/s/api/boards/${boardsId}/like`, {
            method: "post"
        })
        if (response.status == 201) {
            let responseEntity = await response.json();
            $("#boardLikesId").val(responseEntity);
            likeRendering();
        }
    }
    // 좋아요 취소 요청
    let unlike = async () => {
        let boardsId = $("#boardsId").val();
        let boardLikesId = $("#boardLikesId").val();
        let response = await fetch(`/s/api/boards/${boardsId}/like/${boardLikesId}`, {
            method: "delete"
        })

        let responseParse = await response.json();

        if (responseParse === true) {
            $("#boardLikesId").val("");
            unLikeRendering();
        }
    }

    $("#btn-like").click(() => {
        if ($("#icon-like").hasClass("far fa-heart")) {
            like();
        } else {
            unlike();
        }
    });


    //게시글 삭제버튼 클릭 이벤트
    $("#btn-delete").click(() => {
        deletePost();
    });

    //게시글 삭제 
    async function deletePost() {
        let boardsId = $("#boardsId").val();
        let response = await fetch(`/s/api/boards/${boardsId}`, {
            method: "DELETE" // delete는 body가 없다.
        });
        let responseParse = await response.json();

        if (responseParse.code == 1) {
            alert("삭제성공");
            location.href = "/";
        } else {
            alert("삭제실패");
        }
    }

<script src="/js/comment.js"></script>
<script src="/js/boards.js"></script>
{{> /layout/footer}}