{{> /layout/header}}

<div>
    <br>
    <div class="text-center m_txt_title m_font_xxl m_ph_lg">댕냥이 자랑</div>
    <br>

    <main class="mb-4">
        <div class=" px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="container List-container">
                    <hr>
                    <input id="id" type="hidden" value="{{#boardsId}}{{boardsId}}{{/boardsId}}"/>
                    {{#boards}}
                    <div class="row mt-1 header">
                        <div class="col-1 board-title">제목</div>
                        <p id="title" class="col-6" style="word-break:break-all;">{{title}}</p>
                        <p id="createDate" class="col-2">날짜 : {{formatCreateDate}} </p>
                        <p id="userName" class="col-2">작성자 : {{user.userName}}</p>
                        <p id="pageCount" class="col-1">조회수 : {{pageCount}}</p>
                    </div>
                    {{/boards}}
                    {{#boards}}
                    <div class="board-container">
                        <br>
                        <p id="content" class="content" style="word-break:break-all;">
                            {{{content}}}
                        </p>
                    </div>
                   
                    <br>

                    <div class="m_feeling_div">
                        <div class="button-container like-container m_ml_md">
                            <button id="btn-like" class="m_feeling_a">
                                <i id="icon-like" class="far fa-heart"> I LOOOOOVE THIS PICTURE</i> <i id="icon-likee" class="far fa-heart"></i>
                        </div>
                    </div>
                    <br>
 {{/boards}}
                    <button style="background-color: #E1E2E1; float: right; margin: 10px;" onclick="history.back()"
                        class="btn">목록으로</button>
                    {{#auth}}
                    <button id="btn-delete" style="background-color: #E1E2E1; float: right; margin: 10px;" type="submit"
                        class="btn">삭제</button>
                    <button style="background-color: #E1E2E1; float: right; margin: 10px;" type="submit"
                        class="btn">수정</button>
                    {{/auth}}
                    <br><br><br>

                    <!-- 댓글 시작 -->

                    <div class="card mb-2">
                        <div class="card-header bg-light">
                            <i class="fa fa-comment fa"></i> COMMENT
                        </div>
                        <form action="/s/boards/{{boardsId}}/comment" method="post">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                        <button style="float:right; " type="submit"
                                            class="btn btn-dark mt-3">등록</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header"><i class="fa fa-comment fa"></i> COMMENT LIST</div>
                        <ul id="reply-box" class="list-group">
                            {{#comments}}
                            <li class="list-group-item d-flex justify-content-between">
                                <div>{{comment.content}}</div>
                                <div class="d-flex">
                                    <div class="font-italic"> <i class="far fa-user-circle"></i>
                                        {{comment.user.username}} &nbsp;</div>
                                    {{#auth}}
                                    <button class="badge bg-primary"
                                        onclick="deleteComment('{{comment.id}}');">삭제</button>
                                    {{/auth}}
                                </div>
                            </li>
                            {{/comments}}
                        </ul>
                    </div>
                    <br>
                    <!-- 댓글 끝 -->

                </div>
            </div>
            <nav>
                <div class="list-group" style="margin-top: 20px; margin-bottom: 20px;">
                    <a href="#" class="list-group-item">이전글: </a>
                    <a href="#" class="list-group-item">다음글: </a>
                </div>
        </div>
    </main>
</div>

<script>
    $("#btn-like").click(()=>{
        if($("#icon-like").hasClass("far fa-heart")){
            $("#icon-like").removeClass("far fa-heart");
            $("#icon-like").addClass("fas fa-heart");
        } else{
            $("#icon-like").removeClass("fas fa-heart");
            $("#icon-like").addClass("far fa-heart");
        }
        if($("#icon-likee").hasClass("far fa-heart")){
            $("#icon-likee").removeClass("far fa-heart");
            $("#icon-likee").addClass("fas fa-heart");
        } else {
            $("#icon-likee").removeClass("fas fa-heart");
            $("#icon-likee").addClass("far fa-heart");
        }
    });
    let dataRendering = async()=>{
        let id = $("#id").val();
        let response = await fetch(`/api/boards/${id}`);
        console.log(response);
        let responseParse = await response.json();
        
    };
    dataRendering();
</script>
<script src="/js/comment.js"></script> 
<script src="/js/boards.js"></script>
{{> /layout/footer}}