{{> /layout/header}}

<div class="container" style="height:80vh">

  <h1 class="text-center m_txt_title m_ph_lg">공지사항</h1>



  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-1">#</th>
        <th class="col-6">제목</th>
        <th class="col-2">작성자</th>
        <th class="col-2">작성일자</th>
        <th class="col-1">상세보기</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">id</th>
        <td> Title</td>
        <td>username</td>
        <td>createdate</td>
        <td>
          <a href="/noticeDetail">더보기
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">id</th>
        <td> Title</td>
        <td>username</td>
        <td>createdate</td>
        <td>
          <a href="/noticeDetail">더보기
          </a>
        </td>
      </tr>

    </tbody>
  </table>
  <!-- <nav>
  <ul class="pagination" style="justify-content: center;">
    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->


  <div class="paging-div">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="">이전</a></li>
      <li class="page-item"><a class="page-link" href="">1</a></li>
      <li class="page-item"><a class="page-link" href="">2</a></li>
      <li class="page-item"><a class="page-link" href="">3</a></li>
      <li><a class="page-link" href="">다음</a></li>
    </ul>
  </div>

</div>


{{> /layout/footer}}