{{> /layout/header}}

<div class="container" style="height:70vh">

    <h1 class="text-center m_txt_title m_ph_lg">공지사항</h1>

    <div class="m_box_right">
        <button class="btn m_bg_secondary m_p_sm">
          <a  href="/s/notice/write-form">글쓰기</a>
        </button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일자</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">id</th>
                <td> Title</td>
                <td>username</td>
                <td>createdate</td>
            </tr>
            <tr>
                <th scope="row">id</th>
                <td>Title</td>
                <td>username</td>
                <td>createdate</td>
            </tr>

        </tbody>
    </table>
    <!-- <nav>
  <ul class="pagination" style="justify-content: center;">
    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->

</div>


{{> /layout/footer}}