{{> /layout/header}}

<body>
    <div class="container">
        <br><br>

        <h1 class="text-center m_txt_title">공지사항</h1>
        <br><br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일자</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">id</th>
                    <td> Title</td>
                    <td>username</td>
                    <td>createdate</td>
                </tr>
                <tr>
                    <th scope="row">id</th>
                    <td>Title</td>
                    <td>username</td>
                    <td>createdate</td>
                </tr>

            </tbody>
        </table>
        <!-- <nav>
  <ul class="pagination" style="justify-content: center;">
    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->


</body>

{{> /layout/footer}}