{{> /layout/header}}

    <div class="container">
    <br>
    <div class="text-center m_txt_title m_font_xxl m_ph_lg">공지사항</div>
    <br>
    <hr >

    <main class="mb-4">
        <div class=" px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="List-container">
                    <div class="row mt-1 header">
                        <div class="col-1 board-title">제목</div>
                        <p class="col-8" style="word-break:break-all;"> 냥도놀러가고싶댕이 오픈하였습니다. </p>
                        <p class="col-1"> 작성일 </p>
                        <p class="col-1">작성자</p>
                        <p class="col-1">조회수</p>
                    </div>


                    <div class="board-container">
                        <br>
                        <p class="content" style="word-break:break-all;">
                            안녕하세요. 냥도놀러가고싶댕이 오픈했습니다. <br> 반려동물과 함께 즐거운 강원도 여행 되시길 바랍니다. <br> 홈페이지 사용 시 궁금한 점이 있거나 불편한 점이 있으면 아래 번호로 연락주세요.<br> 010-2222-3333
                            <br> 앞으로 발전하는 냥도놀러가고싶댕이 되겠습니다. <br> 이용해 주셔서 감사합니다.

                        </p>
                    </div>
                    <br>
                    <br>

                    <button style="background-color: #E1E2E1; float: right; margin: 10px;" type="submit" class="btn">목록으로</button>
                    <!-- {{#auth}} -->
                    <button style="background-color: #E1E2E1; float: right; margin: 10px;" type="submit" class="btn">삭제</button>
                    <button style="background-color: #E1E2E1; float: right; margin: 10px;" type="submit" class="btn">수정</button>
                    <!-- {{/auth}} -->
                    <br><br><br>
                    <div class="list-group" style="margin-top: 20px; margin-bottom: 20px;">
                       <a href="#" class="list-group-item">이전글: </a>
                        <a href="#" class="list-group-item">다음글: </a>
                    </div>

                </div>
            </div>
            <nav>

        </div>
    </main>
</div>

<!-- <script>
     async function deleteComment(commentId) {
        let response = await fetch(`/s/api/comment/${commentId}`, {
            method: "DELETE"
        });
        let responseParse = await response.json();
        if (responseParse.code == 1) {
            alert("삭제 성공");
            location.reload(); // ajax + ssr
        } else {
            alert("삭제 실패");
        }
    }
</script> -->

{{> /layout/footer}}