{{> /layout/header}}

<div class="container">
    <br><br>

    <h1 class="text-center m_txt_title m_mt_lg m_ph_md">'냥도 놀러가고 싶댕' 소개</h1>
    <br>
    <hr>
    <br>

    <div class="m_bx_wel">

        <div class="m_bx_wel_introduce">
            <div class="m_bx_wel_intro_text">
                <h3>
                    <span> 댕냥이와 함께 즐겁고! 간편하게! </span>
                    <br>
                    <strong> 강원도로 놀러오시개! </strong>
                </h3>
                <br>
                <p>
                    댕냥이와 같이 여행 할 수 있는 장소를 서로 공유하여
                    <br>
                    함께 반려동물 동반 여행지도를 만들어 가는 반려동물 여행 플랫폼!
                    <br>
                    냥도놀러가고싶댕은 강원도 여행을 좋아하고
                    <br>
                    반려동물을 사랑하는 모두에게 열려 있습니다.
                </p>
            </div>
            <div class="m_bx_wel_intro_pic">
                <img class="m_bx_wel_intro_pic_imgbx" src="images/catdog.jpg" alt="">
            </div>
        </div>

        <div class="m_bx_wel_strength">
            <div class="m_bx_wel_str_title">
                <h3>
                    <strong>
                        냥도놀러가고싶댕이 좋은 세가지!</strong>
                </h3>
            </div>
            <div class="m_bx_wel_str_content">
                <img class="m_bx_wel_str_con_imgbx" src="images/intro_1.png" alt="">
                <img class="m_bx_wel_str_con_imgbx" src="images/intro_2.png" alt="">
                <img class="m_bx_wel_str_con_imgbx" src="images/intro_3.png" alt="">
            </div>
        </div>

        <div class="m_bx_wel_conclusion">

            <div class="m_bx_wel_con_text">
                <center>
                    강원도관광재단이 함께 만드는 냥도놀러가고싶댕은
                    <br>
                    강원도내의 지역별, 분야별 여행지를 소개하고 공유하는 공간입니다.
                    <br><br>
                    반려동물 동반 업체의 사장님이시라면 냥도놀러가고싶댕을 통해 홍보를!
                    <br>
                    여행을 준비하는 반려인이라면 다양한 여행 코스를 계획해보세요.
                    <br><br>
                    내가 만든 여행코스를 친구들과 공유하고, 기록해 두었다가 다음 여행시 참고할 수 있는
                    <br>
                    반려동물 여행의 모든 것이 다~ 있는 곳.
                    <br><br>
                    냥도놀러가고싶댕과 함께 여행이라는 추억을 선물 하세요.
                </center>
            </div>
            <div class="m_bx_wel_con_pic">
                <img class="m_bx_wel_con_pic_imgbx" src="images/catdogsogae.jpg" alt="">
            </div>
        </div>
    </div>
</div>
{{> /layout/footer}}