/* 오른쪽 정렬 박스 */

.m_box_right {
    display: flex;
    justify-content: end;
}


/* 가운데정렬 */

.m_center {
    margin: 0 auto;
}

/* 세로 가운데 정렬 */

.m_center_column{
    display: flex;
    align-items: center;
}