/* 배경색  */

.m_bg_primary {
    background-color: #FFE082;
}

.m_bg_secondary {
    background-color: #E1E2E1;
}

.m_bg_third {
    background-color: #6D595A;
}

.m_bg_active {
    background-color: #FFDEA0;
}

.m_bg_inactive {
    background-color: #b4b2b2;
}


/* 폰트 색 */

.m_text_dark {
    color: rgb(25, 25, 25);
}

.m_text_white {
    color: #E1E2E1;
}