@import url("array.css");
@import url("color.css");
@import url("common.css");
@import url("font.css");
@import url("size.css");
@import url("auth.css");
@import url("love.css");
@import url("introduce.css");
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Poor+Story&family=Black+Han+Sans&display=swap%27');

/* 메인 페이지 시작 */


/* 헤더 박스 */

.m_outer_menu_header {
    display: flex;
    width: 75%;
    /* justify-content: space-evenly; */
    font-size: x-large;
    align-items: center;
    margin-left:80px; 
}

/* 로고 박스 */

.m_box_logo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    width: 100px;
    height: 100px;
}


/* 로그인 회원가입 박스 */

.m_box_login {
    text-align: center;
    font-size: medium;
    position: relative;
    top: 10px;
    right: 40px;
}


/* 검색 돋보기 박스 */

.m_box_search {
    text-align: center;
    position: relative;
    left: 50px;
    top: 15px;
}


/* 검색 버튼 */

.m_btn_search {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: #FFDEA0;
    border: 2px solid  black;
}


/* 검색창 박스 */

.m_box_input_search {
    height: 40px;
    border: 1px solid blue;
    border-radius: 3px;
    font-size: x-large;
    position: relative;
    top: 6px;
    width: 50%;
}


/* 맵 검색 상자 */

.m_box_search_map {
    width: 400px;
    height: 500px;
    box-shadow: 5px 5px 3px 3px gray;
    border-radius: 25px;
    background-color: white;
}


/* 텍스트 옆 수평선 만들기 */

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin: 10px 0px;
    font-size: x-large;
    color: black;
}

.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgb(0, 0, 0);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}


/* 카테고리 검색 박스 */

.m_box_search_category {
    justify-content: space-evenly;
    margin-top: 10px;
    padding-bottom: 10px;
}


/* 카테고리 체크 박스 */

.m_box_check_category {
    font-size: x-large;
    padding-top: 30px;
    border-end-end-radius: 25px;
}


/* 슬라이드 이미지 박스 */

.m_box_img_slide {
    width: 100%;
    height: 700px;
    padding:50px;
}


/* 검색 아우터 */

#panel {
    padding: 5px;
    text-align: center;
    background-color: #FFE082;
}

#panel {
    padding: 30px;
    display: none;
    justify-content: center;
}


/* 메인 페이지 끝 */


/* 회원정보 상세보기 페이지 시작 */


/* 상세보기 메뉴 아우터 */

.m_outer_menu_detail {
    display: flex;
    font-size: x-large;
    justify-content: space-evenly;
}


/* 상세보기 메뉴 박스  */

.m_box_menu_detail {
    flex: 1;
    text-align: center;
    padding-top: 3px;
}


/* 회원정보 아우터 */

.m_outer_info_detail {
    display: flex;
    width: 75%;
    padding-top: 20px;
    border-radius: 25px;
    background-color: #FFDEA0;
}


/* 회원정보 박스 */

.m_box_info_detail {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 40px;
}


/* 회원 박스 */

.m_inner_info_detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
}

.m_img_profile {
    position: absolute;
    object-fit: cover;
    width: 80%;
    height: 500px;
    left: 65px;
    top: 50px;
    border-radius: 50%;
}


/* 알아보기 페이지 */


/* 검색 박스 */

.m_box_search_place {
    width: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
}